<div class="header">
            <span class="header-title">wryyl</span>
        </div>
        <div class="links-block">
            <div class="ui pointing menu links-menu">
                  <a class="item" href="/">
                    <i class="home icon"></i> Home
                  </a>
                  <a class="item" href="/blog">
                    <i class="book icon"></i> Blog
                  </a>
                  <a class="active item" href="/tf2videos">
                    <i class="video icon"></i> TF2 Videos
                  </a>
                <div class="ui dropdown link item">
                  <i class="external url icon"></i> Links <i class="dropdown icon"></i>
                  <div class="menu">
                    <a class="item" href="http://steamcommunity.com/id/wryyl">Steam</a>
                    <a class="item" href="http://www.last.fm/user/wryyl">Last.fm</a>
                    <a class="item" href="https://github.com/wryyl?tab=repositories"><i class="github alternate icon"></i>GitHub</a>
                  </div>
                </div>
            </div>
        </div>
