        <title>wryyl.com</title>
        <meta name="description" content="Benjamin's website.">
        <link href="/resource/style.css" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" class="ui" href="/resource/semantic-ui/elements/basic.icon.css">
        <link rel="stylesheet" type="text/css" class="ui" href="/resource/semantic-ui/elements/icon.css">

        <link rel="stylesheet" type="text/css" class="ui" href="/resource/semantic-ui/elements/button.css">
        <link rel="stylesheet" type="text/css" class="ui" href="/resource/semantic-ui/elements/divider.css">
        <link rel="stylesheet" type="text/css" class="ui" href="/resource/semantic-ui/elements/segment.css">
        <link rel="stylesheet" type="text/css" class="ui" href="/resource/semantic-ui/elements/header.css">
        <link rel="stylesheet" type="text/css" class="ui" href="/resource/semantic-ui/elements/label.css">

        <link rel="stylesheet" type="text/css" class="ui" href="/resource/semantic-ui/collections/menu.css">

        <link rel="stylesheet" type="text/css" class="ui" href="/resource/semantic-ui/views/item.css">
        
        <link rel="stylesheet" type="text/css" class="ui" href="/resource/semantic-ui/modules/dropdown.css">

        <script src="/resource/jquery-2.0.3.min.js"></script>
        <script src="/resource/jquery-ui-1.10.3.min.js"></script>
        <script src="/resource/semantic-ui/modules/dropdown.js"></script>
    
        <script>
$( document ).ready(function() {
    $('.ui.dropdown').dropdown();
    
});
            
        </script>
